package           : tech-glpi-agent-1.17
version           : 1.17-0
architecture      : all
section           : base
priority          : optional
name              : glpi-agent-1.17
categories        : 
maintainer        : admin-stage
description       : GLPI Agent 1.17 (Teclib')
depends           : 
conflicts         : 
maturity          : DEV
locale            : 
target_os         : all
min_wapt_version  : 
sources           : 
installed_size    : 
impacted_process  : 
description_fr    : 
description_pl    : 
description_de    : 
description_es    : 
description_pt    : 
description_it    : 
description_nl    : 
description_ru    : 
audit_schedule    : 
editor            : 
keywords          : 
licence           : ©
homepage          : 
package_uuid      : 8d03b7c9-897c-444a-9eb5-21603287608e
valid_from        : 
valid_until       : 
forced_install_on : 
changelog         : 
min_os_version    : 
max_os_version    : 
icon_sha256sum    : 
signer            : technature_master
signer_fingerprint: b99c0b76fbfa9ed63036e13517fe48e721cfaf9401aeb51b82e5e4076b96c5a9
signature_date    : 2026-05-28T13:59:26.000000
signed_attributes : package,version,architecture,section,priority,name,categories,maintainer,description,depends,conflicts,maturity,locale,target_os,min_wapt_version,sources,installed_size,impacted_process,description_fr,description_pl,description_de,description_es,description_pt,description_it,description_nl,description_ru,audit_schedule,editor,keywords,licence,homepage,package_uuid,valid_from,valid_until,forced_install_on,changelog,min_os_version,max_os_version,icon_sha256sum,signer,signer_fingerprint,signature_date,signed_attributes
signature         : r5jbRKE1yH9Nkr/waJxKeigq0I3cICODtIVl6cDHFwCqcDwu6/y45NxSMz5H14lUO7c1gIDUwqB5tewuBvZGuapxt8V3V1hgd/hHJQ500F+y4XoxYNF0QT09YfbF3/Lh6bbYdHlyVj4h41kus/TmUvwwuYEu4arUR6hd2ol/wOgK6MAZXXR53Rr5Ii//wP3LKYc52yqMSAPW3U1VuLJhNEmQbRNwwrSvB4MyqTtCTs+J2yBUHaqqzzPNfoBwPDks7CLlVQBTdqqjzlnckohN78TagDMAkWF+nz4oXKqqrBeMfn7TbF4hAI4b3hV6dRBF3xo924UmNK+lUU+hXT/6Ng==